<!-- Resume -->

<div id="resume" class="row z-depth-1 content" style="background-color: #FFF;">
  <div class="col-md-12 text-center">
  	<h2>{{ "RESUME" | translate }}</h2>
  </div>
  <div class="col-md-2">
  	<div class="iconcontent">
  	 <i class="glyphicon glyphicon-user"></i>
  	</div>
  </div>
  <div class="col-md-10">
  	<div class="textcontent">
		<p>{{ "RESUMETEXT" | translate }}</p>
	</div>
  </div>

  <!-- TIMELINE -->
  <div class="col-md-12 text-center">
  	<h2>Mi Historia</h2>
  </div>
  <div id="timeline" style="display:inline-block;width:100%;overflow:hidden;">
	<ul class="timeline timeline-horizontal">
		<li class="timeline-item">
			<div class="timeline-badge primary"></div>
			<div style="position: relative; left: 37px; top: 5px; color: #a8a9a9;">2011</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge blue darken-1" href ng-click="showstory12 = !showstory12"></a>
			<div class="timeline-panel animated panelfade blue darken-1" ng-show="showstory12">
				<div class="timeline-body">
					<p><strong>Septiembre 2011</strong><br>Soporte informático en MINSAL.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-badge primary"></div>
			<div style="position: relative; left: 37px; top: 5px; color: #a8a9a9;">2012</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge orange darken-1" href ng-click="showstory11 = !showstory11"></a>
			<div class="timeline-panel animated panelfade orange darken-1" ng-show="showstory11">
				<div class="timeline-body">
					<p><strong>Mayo 2012</strong><br>Coordinador tecnológico del centro de simulación clínica.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-badge primary"></div>
			<div style="position: relative; left: 37px; top: 5px; color: #a8a9a9;">2013</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge green darken-1" href ng-click="showstory = !showstory"></a>
			<div class="timeline-panel animated panelfade green darken-1" ng-show="showstory">
				<div class="timeline-body">
					<p><strong>Octubre 2013</strong><br>Creación modulo oftalmología de OpenMRS en Dominica.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge purple darken-1" href ng-click="showstory2 = !showstory2"></a>
			<div class="timeline-panel animated panelfade purple darken-1" ng-show="showstory2">
				<div class="timeline-body">
					<p><strong>Diciembre 2013</strong><br>Egresado de informática biomédica.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-badge primary"></div>
			<div style="position: relative; left: 37px; top: 5px; color: #a8a9a9;">2014</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge blue darken-1" href ng-click="showstory3 = !showstory3"></a>
			<div class="timeline-panel animated panelfade blue darken-1" ng-show="showstory3">
				<div class="timeline-body">
					<p><strong>Marzo 2014</strong><br>Agente de mesa de ayuda y backoffice en Synapsis.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge orange darken-1" href ng-click="showstory4 = !showstory4"></a>
			<div class="timeline-panel animated panelfade orange darken-1" ng-show="showstory4">
				<div class="timeline-body">
					<p><strong>Agosto 2014</strong><br>Docente en Duoc en el ramo de informática en salud.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge red darken-1" href ng-click="showstory6 = !showstory6"></a>
			<div class="timeline-panel animated panelfade red darken-1" ng-show="showstory6">
				<div class="timeline-body">
					<p><strong>Octubre 2014</strong><br>Desarrollo de EHR en Ruby on Rails.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-badge primary"></div>
			<div style="position: relative; left: 37px; top: 5px; color: #a8a9a9;">2015</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge green darken-1" href ng-click="showstory5 = !showstory5"></a>
			<div class="timeline-panel animated panelfade green darken-1" ng-show="showstory5">
				<div class="timeline-body">
					<p><strong>Abril 2015</strong><br>Curso en MIT de informática en salud para mejorar la atención.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge purple darken-1" href ng-click="showstory7 = !showstory7"></a>
			<div class="timeline-panel animated panelfade purple darken-1" ng-show="showstory7">
				<div class="timeline-body">
					<p><strong>Junio 2015</strong><br>Desarrollo de proyectos arduino para eHealth.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-badge primary"></div>
			<div style="position: relative; left: 37px; top: 5px; color: #a8a9a9;">2016</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge blue darken-1" href ng-click="showstory8 = !showstory8"></a>
			<div class="timeline-panel animated panelfade blue darken-1" ng-show="showstory8">
				<div class="timeline-body">
					<p><strong>Febero 2016</strong><br>Desarrollo de proyectos arduino en domótica.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge red darken-1" href ng-click="showstory9 = !showstory9"></a>
			<div class="timeline-panel animated panelfade red darken-1" ng-show="showstory9">
				<div class="timeline-body">
					<p><strong>Agosto 2016</strong><br>Desarrollo de transiluminador venoso.</p>
				</div>
			</div>
		</li>
		<li class="timeline-item">
			<a class="timeline-badge orange darken-1" href ng-click="showstory10 = !showstory10"></a>
			<div class="timeline-panel animated panelfade orange darken-1" ng-show="showstory10">
				<div class="timeline-body">
					<p><strong>Noviembre 2016</strong><br>Desarrollador y administrador de servicios en Semantic.</p>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="text-center" style="position: relative; bottom: 30px; font-size: 20px">
	<a id="#left" class="" ng-click="left()"><i class="glyphicon glyphicon-chevron-left"></i></a>
	<a id="#right" class="" ng-click="right()"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>

<!-- SKILLS -->


  <div id="skills" class="col-md-12 text-center">
  	<h2>{{ "SKILLS" | translate }}</h2>
  </div>
  <div class="col-md-12 text-center" style="margin-top: 30px;">
	 <div class="col-md-3">
		  	<round-progress
		    max="100"
		    current="80"
		    color="#337ab7"
		    bgcolor="#eaeaea"
		    radius="55"
		    stroke="10"
		    semi="false"
		    rounded="false"
		    clockwise="true"
		    responsive="false"
		    duration="800"
		    animation="easeInOutQuart"
		    animation-delay="0"
		    ></round-progress>
		    <h3>AngularJS</h3>
	 </div>
	 <div class="col-md-3">
		  	<round-progress
		    max="100"
		    current="85"
		    color="#337ab7"
		    bgcolor="#eaeaea"
		    radius="55"
		    stroke="10"
		    semi="false"
		    rounded="false"
		    clockwise="true"
		    responsive="false"
		    duration="800"
		    animation="easeInOutQuart"
		    animation-delay="0"
		    ></round-progress>
		    <h3>Arduino</h3>
	 </div>
	 <div class="col-md-3">
		  	<round-progress
		    max="100"
		    current="90"
		    color="#337ab7"
		    bgcolor="#eaeaea"
		    radius="55"
		    stroke="10"
		    semi="false"
		    rounded="false"
		    clockwise="true"
		    responsive="false"
		    duration="800"
		    animation="easeInOutQuart"
		    animation-delay="0"
		    ></round-progress>
		    <h3>SQL</h3>
	 </div>
	 <div class="col-md-3">
		  	<round-progress
		    max="100"
		    current="75"
		    color="#337ab7"
		    bgcolor="#eaeaea"
		    radius="55"
		    stroke="10"
		    semi="false"
		    rounded="false"
		    clockwise="true"
		    responsive="false"
		    duration="800"
		    animation="easeInOutQuart"
		    animation-delay="0"
		    ></round-progress>
		    <h3>Linux</h3>
	 </div>
	</div>
  </div>
</div>



<!-- Work Experience -->

<div id="experience" class="row z-depth-1 content" style="background-color: #FFF;">
  <div class="col-md-12 text-center">
  	<h2>{{ "WEXPERIENCE" | translate }}</h2>
  </div>
	
  <!-- EXPERIENCE 1 -->

  <div class="col-md-2">
  	<div class="iconcontent">
  	 <i class="glyphicon glyphicon-briefcase"></i>
  	</div>
  </div>
  <div class="col-md-10">
	<div class="textcontent">
		<strong>{{ "DEVELOPER" | translate }} - <a href="http://semantic.cl">Semantic</a></strong>
		<p style="color: #337ab7">{{ "DEC" | translate }} 2014 - {{ "PRESENT" | translate }}</p>
		<p>Desarrollador de aplicaciones móviles, módulos Moodle y plataformas, además de la administración de servidores y hosting de empresas. 
		Encargado de la mantención y actulización de Moodle, Wordpess y aplicaciones móviles, investigación de nuevas tecnologías.</p>
	</div>
	<hr>
  </div>
 <div class="col-md-2">
 </div>
  <div class="col-md-10">
	<div class="textcontent">
		<strong>{{ "DEVELOPER" | translate }} - <a href="http://www.zreactor.cl">ZReactor Labs</a></strong>
		<p style="color: #337ab7">{{ "MAY" | translate }} 2016 - {{ "PRESENT" | translate }}</p>
		<p>Dueño y desarrollador, dedicado a la creación de equipos electrónicos con arduino y otros componentes, además de la venta de productos y 
		desarrollo de soluciones.</p>
	</div>
	<hr>
  </div>
   <div class="col-md-2">
  </div>
  <div class="col-md-10">
	<div class="textcontent">
		<strong>Docente - <a href="http://ww.duoc.cl">DuocUC</a></strong>
		<p style="color: #337ab7">{{ "JULY" | translate }} 2014 - {{ "NOV" | translate }} 2016</p>
		<p>Las clases eran enfocadas al uso de las tecnologías para el análisis crítico de la información, tanto del área de negocios como de salud. La metodología de aprendizaje se basa en el uso de herramientas de ofimática como Word, Excel y Acces, para crear, ingresar y analizar la información.
		<br><br>
		Además, en el área de salud se tocan temas como leyes de protección de datos, norma técnicas de información del paciente, estándares de la información en salud y sistemas de información en salud (RCE, LIS y RIS)</p>
	</div>
	<hr>
  </div>
   <div class="col-md-2">
  </div>
  <div class="col-md-10">
	<div class="textcontent">
		<strong>Práctica Profesional - <a href="http://www.dominicavibes.dm/news-116680/">Ministerio de Salud de Dominica</a></strong>
		<p style="color: #337ab7">{{ "OCT" | translate }} 2013 - {{ "DEC" | translate }} - 2013</p>
		<p>Consistió en la informatización de formularios electrónicos y la confección de reportes para el Princess Margaret Hospital, ubicado en Roseau, capital de la Mancomunidad de Dominica. La informatización de estos formularios se llevó a cabo, a través del sistema de registro médico electrónico OpenMRS y la aplicación de técnicas de manejo de proyectos orientados a la informática en salud.
		<br><br>
		El objetivo de este proyecto fue gestionar y administrar la información de oftalmología del Princess Margaret Hospital, con la finalidad brindar información veraz y unificada para la toma de decisiones. Así mismo, se esperaba que esta herramienta apoyara la atención del paciente y facilitara información para completar los formularios del programa VISION 2020.
		<br><br>
		La confección de módulo de oftalmología consideró el proceso de levantamiento de información (visita en terreno, entrevista y flujos de información), el desarrollo (propuestas, programación y QA) y la implementación (capacitación a profesionales, marcha blanca e integración con el sistema core).
		<br><br>
		<strong>NOTA:</strong> Gracias al desarrollo de este proyecto el Dr. Barry Levine, implementará en la Universidad de California OpenMRS para el servicio de oftalmología,basado en la documentación de este proyecto.</p>
	</div>
  </div>

</div>

<!-- Education -->

<div id="education" class="row z-depth-1 content" style="background-color: #FFF;">
  <div class="col-md-12 text-center">
  	<h2>{{ "EDUCATION" | translate }}</h2>
  </div>
  <div class="col-md-2">
  	<div class="iconcontent">
  	 <i class="glyphicon glyphicon-education"></i>
  	</div>
  </div>
  <div class="col-md-10">
	<div class="textcontent">
		<strong>Tecnólogo en Informática Biomédica - DuocUC</strong>
		<p style="color: #337ab7">{{ "MAR" | translate }} 2010 - {{ "DEC" | translate }} 2013</p>
		<p>El Tecnólogo en Informática Biomédica integra conocimientos propios de las ciencias médicas con la tecnología de la información, para así optimizar la gestión, calidad y eficiencia en salud de sus pacientes.
		<br><br>
		Durante mi carrera participé de varias actividades tales como: concursos de empredimiento, congresos internacionales, voluntariados y cursos.</p>
	</div>
  </div>
</div>

<!-- Other Skills -->
<!--
<div class="row z-depth-1 content" style="background-color: #FFF;">
  <div class="col-md-12 text-center">
  	<h2>{{ "OSKILLS" | translate }}</h2>
  </div>
  <div class="col-md-12 text-center" style="font-size: 100px">
	<i class="devicon-bootstrap-plain-wordmark colored"></i>
	<i class="devicon-html5-plain-wordmark colored"></i>
	<i class="devicon-moodle-plain-wordmark colored"></i>
	<i class="devicon-rails-plain-wordmark colored"></i>
	<i class="devicon-php-plain colored"></i>
	<i class="devicon-wordpress-plain-wordmark colored"></i>
	<i class="devicon-nodejs-plain colored"></i>
	<i class="devicon-docker-plain-wordmark colored"></i>
	<i class="devicon-cplusplus-line-wordmark colored"></i>
	<i class="devicon-css3-plain-wordmark colored"></i>
  </div>
</div>

-->